{{!-- this file is only shown whenever there is an error during log out --}}
{{#if errorMessage}}
  <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    {{errorMessage}}
  </div>
{{/if}}