<div class="row" style="width: 100%; height: 625px">


  <div class="col-2" style="border-right: 1px solid rgb(199, 199, 199); max-height: 625px;">
    <div class="p-3 fs-3">Inbox</div>
    <div class="row-auto" id="conversation-list" style="height: 550px; overflow-y:auto">

    </div>
  </div>

  <div class="col-7 g-0 d-flex flex-column" style="max-height: 625px; border-right: 1px solid rgb(199, 199, 199)">
    <div class="p-3 d-flex" style="flex: 0 0 auto; border-bottom: 1px solid rgb(199, 199, 199)">
      <span id="conversation-with" class="fs-3" >You have no chats</span>
      <div class="ms-auto">
        <a id="profile" href="" class="btn btn-primary disabled me-1" style="height: fit-content;"><i class="bi bi-person-circle me-2"></i>Profile</a>
        <a id="delete" href="" class="btn btn-danger disabled" style="height: fit-content;"><i class="bi bi-trash3-fill me-2"></i>Delete</a>
      </div>
    </div>
    
    <div class="p-3 d-flex flex-column" id="message-list" style="flex: 1 1 auto;overflow-y:auto;background-color:white">

    </div>

    <div class="p-3" style="flex: 0 0 auto;  border-top: 1px solid rgb(199, 199, 199)">
      <form id="form" action="" class="d-flex align-items-center">
        <input id="input" autocomplete="off" placeholder="Message" class="form-control rounded-pill me-2" />
        <button class="btn btn-primary d-flex align-items-center"><i class="bi bi-send-fill me-2"></i>Send</button>
      </form>
    </div>
  </div>

</div>

  <script>
    //const socket = io();

    const form = document.getElementById('form');
    const input = document.getElementById('input');
    const messageList = document.getElementById('message-list');
    const chatList = document.getElementById('conversation-list');
    const chatTitle = document.getElementById('conversation-with');
    const deleteBtn = document.getElementById('delete');
    const profileBtn = document.getElementById('profile');

    let activeChatId = '{{ chatId }}' || "";
    let activeChat = null

    const username = '{{ user.username }}'; // This should be dynamically set based on the logged-in user
    //const userId = '{{ user._id }}';

    socket.on('init', (chats) => {
      chatList.innerHTML = '';
      for (let chat of chats) {
        let chatElement = createChat(chat);
        if (activeChatId == chat._id) setActiveChat(chat, chatElement)
      }
      if (!activeChatId && chats.length > 0) setActiveChat(chats[0], chatList.children[0]) // default to first chat
    });

    function createChat(chat) {
      const otherParty = chat.participants.find(party => party._id != userId); // The other party
      let profilePicSrc = otherParty.profilePic ? `${otherParty.profilePic}` : "/images/Profile-PNG-File.png"
      let profBadge = otherParty.professional ? `
        <span class="badge rounded-pill text-bg-primary position-absolute" style="top:-8;right:-8">Professional</span>`
        : ""
      let div = document.createElement('div')
      div.id = chat._id
      div.classList.add("chatbox")
      chatList.appendChild(div)
      div.innerHTML += `
        <div class="d-flex align-items-center position-relative">
          <div class="circle-crop me-2" style="width:50px;height:50px;display:inline-flex">
            <img src=${profilePicSrc}>
          </div>
          <span class="fs-5">${otherParty.username}</span>
          ${profBadge}`

      div.addEventListener('click', () => {
          window.location.href = `/account/inbox/${chat._id}`;
      });
      return div
    }

    function setActiveChat(chat, chatElement) {
      const otherParty = chat.participants.find(party => party._id != userId); // The other party
      activeChatId = chat._id;
      socket.emit('join chat', activeChatId);
      activeChat = chat
      chatElement.classList.add("chatbox-active")
      chatTitle.textContent = `Chat with ${otherParty.username}`;
      deleteBtn.href = `/account/inbox/${chat._id}/delete`
      deleteBtn.classList.remove('disabled')
      profileBtn.href = `/users/${otherParty._id}`
      profileBtn.classList.remove('disabled')
      messageList.innerHTML = '';
      let curDate = ''
      chat.messages.forEach((msg) => {
        let msgDate = getMsgDate(msg.timestamp)
        if (curDate != msgDate) { // new day, add separator
          curDate = msgDate
          messageList.innerHTML += `<span class="center timestamp fw-bold">${curDate}</span><hr>`
        }
        createMessage(msg.message, msg.sender, msg.timestamp)
        messageList.scrollTo(0, messageList.scrollHeight);
      });
    }

    function createMessage(msgBody, authorId, timestamp) {
      let dynClasses = authorId == userId ? 'bg-primary' : ''
      let alignment = authorId == userId ? 'align-self: flex-end' : 'align-self: flex-start'
      let order = authorId == userId ? 'flex-row-reverse' : ''
      let dynStylesMsg = authorId == userId ? 'color: white;' : 'background-color: rgb(200, 200, 200);'
      messageList.innerHTML += `
        <div class="d-flex align-items-center ${order}" style="width: fit-content; ${alignment}">
          <div class="${dynClasses} rounded-pill p-2 mb-1" style="${dynStylesMsg}">
            <span>${msgBody}</span>
          </div>
          <span class="timestamp">${getMsgTime(timestamp)}</span>
        </div>`
    }

    socket.on('private message', (msg) => {
      const otherParty = activeChat.participants.find(party => party._id != userId)
      if (msg.sender === otherParty._id || msg.recipient === otherParty._id) {
        createMessage(msg.message, msg.sender, msg.timestamp)
        messageList.scrollTo(0, messageList.scrollHeight);
      }
    });

    form.addEventListener('submit', (e) => {
      e.preventDefault();
      if (input.value && activeChat) {
        let chatDiv = document.getElementById(activeChatId)
        chatList.insertBefore(chatDiv, chatList.firstChild);
        const otherParty = activeChat.participants.find(party => party._id != userId)
        socket.emit('private message', {
          sender: userId,
          recipient: otherParty._id,
          message: input.value,
          chatId: activeChatId,
        });
        input.value = '';
      }
    });

    socket.emit('join', userId);
    if (activeChatId) socket.emit('join chat', activeChatId);
  </script>