{{#if errorMessage}}
<div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
  <i class="bi bi-exclamation-triangle-fill me-2"></i>
  {{errorMessage}}
</div>
{{/if}}

<div class="content-box" style="min-width: 25%;">
  <h2 class="center mb-3">Create an offer</h2>
  <form action="/account/offers/new" method="POST">

    <div class="form-floating mb-3">
      <input type="text" name="name" id="name" placeholder="Choose a name for your offer" class="form-control">
      <label for="name">Name</label>
    </div>

    <div class="form-floating mb-3">
      <select class="form-select" id="language" name="language">
      </select>
      <label for="language">Language</label>
    </div>

    <div class="form-floating mb-3">
      <select class="form-select" id="level" name="level">
        <option value="beginner">Beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="advanced">Advanced</option>
      </select>
      <label for="level">Level</label>
    </div>

    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-3 pt-0">Type</legend>
      <div class="col-sm-9">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="locationType" id="online", value="online" checked>
          <label class="form-check-label" for="private">Online</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="locationType" id="at-student", value="at-student">
          <label class="form-check-label" for="group">In-person (at the student)</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="locationType" id="at-teacher", value="at-teacher">
          <label class="form-check-label" for="group">In-person (at the teacher)</label>
        </div>
      </div>
    </fieldset>

    <div class="form-floating mb-3">
      <input type="address" name="location" id="location" placeholder="" class="form-control" disabled>
      <label for="name">Location</label>
    </div>

    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-3 pt-0">Type</legend>
      <div class="col-sm-9">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="classType" id="private", value="private" checked>
          <label class="form-check-label" for="private">Private</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="classType" id="group", value="group">
          <label class="form-check-label" for="group">Group</label>
        </div>
      </div>
    </fieldset>

    <div class="input-group mb-3" id="maxGroupSize" style="display: none;">
        <span class="input-group-text" id="addon-wrapping">Max. Group Size</span>
        <input type="number" class="form-control" min="2" max="15" placeholder="2" name="maxGroupSize">
    </div>

    <div class="row mb-3">
      <label class="col-3 pt-0" for="weekdays">Weekdays</label>
      <div class="col-9">
        <select class="form-select" id="weekdays" name="weekdays" size="7" multiple> 
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-3 pt-0" for="timeslots">Timeslots</label>
      <div class="col-9">
        <select class="form-select" id="timeslots" name="timeslots" size="10" style="overflow-y: scroll;" multiple> 
        </select>
      </div>
    </div>

    <div class="mb-3">
        <div class="input-group" id="duration">
            <span class="input-group-text" id="addon-wrapping">Duration</span>
            <input type="number" class="form-control" min="60" max="180" placeholder="60" name="duration">
        </div>
        <small class="ms-1 mt-1">* Class duration in minutes</small>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text">Price</span>
            <input type="number" class="form-control" min="10" max="100" placeholder="10"  name="price">
            <span class="input-group-text">$</span>
        </div>
        <small class="ms-1 mt-1">* Price is calculated per class per student</small>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
    </div>
  </form>
</div>

<script>
    const selectLang = document.getElementById("language")
    const languages = '{{ user.lang_teach }}'.split(",")
    languages.sort((a,b) => {
        if (langList[b] < langList[a]) return 1
        if (langList[a] < langList[b]) return -1
        if (langList[a] == langList[b]) return 0
    })
    for (lang of languages) {
      let langName = getLanguageName(lang)
      selectLang.innerHTML += `<option value=${lang}><img src="/images/${lang}.svg" class="lang-flag"> ${langName}</option>`
    }

    const timeslots = document.getElementById("timeslots")
    for (let hr = 7; hr < 21; hr++) {
      for (let min of [0,15,30,45]) {
        let hour = hr.toString().padStart(2, '0')
        let minute = min.toString().padStart(2, '0')
        const option = document.createElement('option');
        option.value = `${hour}:${minute}`;
        option.textContent = `${hour}:${minute}`;
        timeslots.appendChild(option);
      }
    }
</script>