body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.center {
  text-align: center;
}

.circle-crop {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box {
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 20px;
  margin: 10px auto;
  width: fit-content;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-card {
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 20px;
  width: 260px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mini-btn {
  padding: 0 3px;
  font-size: 11px;
  width: fit-content;
  height: fit-content;
}

.circle-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-arrow::after {
  display: none;
}

.lang-flag {
  width: 20px;
}

.link-text {
  text-decoration: none;
  color: black;
}

.overlay-lid {
  position: absolute; 
  background-color: white; 
  padding: 10px; 
  border: 1px solid #ccc; 
  z-index: 9999; 
  width: calc(100% - 20px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timestamp {
  font-size: 10px;
  margin: 0 5px;
}