<h1>Processing Payment...</h1>
<div id="payment-status"></div>

<script>
initialize();

async function initialize() {
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const sessionId = urlParams.get('session_id');
  const response = await fetch(`/offers/{{offer._id}}/session-status?session_id=${sessionId}`);
  const session = await response.json();

  if (session.status == 'open') {
    window.location.href = (`/offers/{{offer._id}}/book`)

  } else if (session.status == 'complete') {
    document.getElementById('payment-status').innerText = 'Payment successful!';
    const response = await fetch('/offers/{{offer._id}}/return', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ sessionId }),
      });
    if (response.ok) window.location.href = `/account/classes`;
  }
}
</script>